.navbar {
    padding-bottom: 0 !important;
}

.login {
    min-height: 100vh;
}
  
.login-heading {
    font-weight: 300;
}
  
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

@media screen and (min-width: 991px) {
    .desktop-bg-light {
        background-color: #f8f9fa;
    }
    .hide-on-desktop {
        display: none !important;
    }
}